<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Hangman game</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/hangman/hangman_admin.js' %}"></script>
    <script src="{% static 'js/game_redirects.js' %}"></script>
    <script src="{% static 'js/in_game_room.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body class="fondo" style="top: 100px;">
    <div class="container"></div>
        <row>
            <img id="ahorcado" src="{% static 'img/ahorcado/ahorcado10.png' %}"/>
            <label id="ahorcados"></label>
        </row>
        <row>
            <div id="palabra-ahorcado">
                <h1 id="hueco-palabra" class="big-text"></h1>
            </div>
        </row>
    </div>
    <button id="enable_sounds" style="display: none;"></button>
</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        play_hangman();
    });
</script>