/* CSS variable for rotation degrees*/
:root {
    --rotation_degrees: 0deg;
}

#result{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 10px black;
}

#indicator{
    width: 50px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#roulette{
    width: 512px;
    height: 512px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}

.spin_animation{
    animation: 10s cubic-bezier(0.4, 1.0, 0.0, 1.0) 0s 1 normal both running spin
}

@keyframes spin{
    100%{transform: rotateZ(var(--rotation_degrees))}
}

.button-third{
    position: absolute;
	padding: 28px 108px;
    border: none !important;
    opacity: 0%;
    background-color: rgb(122, 128, 0);
}
    
.button-half{
    position: absolute;
	padding: 25px 52px;
    border: none !important;
    opacity: 0%;
    background-color: rgb(122, 128, 0);
}

.button-number{
    position: absolute;
	padding: 34px 25px;
    border: none !important;
    opacity: 0%;
    background-color: rgb(122, 128, 0);
}

.button-row{
    position: absolute;
	padding: 34px 26px;
    border: none !important;
    opacity: 0%;
    background-color: rgb(122, 128, 0);
}

.button-send{
    position: absolute;
	padding: 20px 30px;
    border: none !important;
    border-radius: 50px;
    background-color: rgb(122, 128, 0);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
