<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Selector de juegos</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{% static 'js/game_redirects.js' %}"></script>
</head>
<body>
    <div>
        <table id="game_table">
            <thead>
                <tr>
                    <th>Juego</th>
                    <th>Rondas</th>
                    <th>Ir al juego</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ruleta</td>
                    <td>
                        <input type="number" id="rounds" name="rounds" value="1">
                    </td>
                    <td><a onclick="play_game(0)">Jugar</a></td>
                </tr>
                <tr>
                    <td>Ahorcado</td>
                    <td>
                        <input type="number" id="rounds" name="rounds" value="1">
                    </td>
                    <td><a onclick="play_game(1)">Jugar</a></td>
                </tr>
                <tr>
                    <td>Democracia</td>
                    <td>
                        <input type="number" id="rounds" name="rounds" value="1">
                    </td>
                    <td><a onclick="play_game(2)">Jugar</a></td>
                </tr>
                <tr>
                    <td>Multi Tragaperras</td>
                    <td>
                        <input type="number" id="rounds" name="rounds" value="1">
                    </td>
                    <td><a onclick="play_game(3)">Jugar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
