<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Ranking</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{% static 'js/ranking.js' %}"></script>
    <script src="{% static 'js/game_redirects.js' %}"></script>
</head>
<body>
    <div>
        <table id="ranking">
            <tr>
                <th>Nombre</th>
                <th>Monedas</th>
            </tr>
        </table>
    </div>
    <div id="players_roulette_div">

    </div>
    <div id="prizes_roulette_div">

    </div>

    <div id="result"></div>
</body>
<script>
        document.addEventListener("DOMContentLoaded", function(event) 
        {
            get_ranking_and_spin_roulettes();
        });
</script>
</html>
