<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Apuesta</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/buttons_setup.js' %}"></script>
    <script src="{% static 'js/bet_collector.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</head>
<body>
    <div id="buttons_row">
        <img id="apuesta" src="{% static 'img/roulette_bet.png' %}"/>
        <button id="send" onclick="send_bets()" class="button-send" style="left: 850px; top: 127px">Enviar apuesta</button>
        <button id="group_coins_bet" onclick="change_bet_coins()" class="button" style="left: 850px; top: 200px">Apostar: 1 moneda(s)</button>
        <label id="available_coins" style="left: 850px; top: 250px"></label>
        <label id="betted_coins" style="left: 850px; top: 300px"></label>
    </div>
</body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        buttons_setup();
        get_coins(); // From servers
    });
</script>