<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Roulette game</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/roulette_spin.js' %}"></script>
    <script src="{% static 'js/game_redirects.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body class="fondo">
    <div class="container">
        <row>
            <img id="indicator" src="{% static 'img/indicator.png' %}"/>
        </row>
        <row>
            <img id="roulette" src="{% static 'img/roulette_img.png' %}"/>
        </row>
        <div id="result-spin"></div>
    </div>
    <!-- Snow animation-->
    <div class="tpl-snow">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <!-- End Snow animationr-->    
</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        wait_for_all_players_and_run();
    });
</script>